@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--dark-cyan);
  background-image: url('./images/bg-pattern-top.svg'),
    url('./images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: 800px;
  background-position: top left, bottom right;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.picture {
  position: relative;
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #fff;
}

.content {
  margin-top: 5rem;
}

.name {
  margin-bottom: 0.5rem;
}

.name span {
  font-weight: 400;
  color: var(--dark-grayish-blue);
  margin-left: 0.25rem;
}

.city {
  margin-bottom: 2rem;
}

.city p {
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--dark-gray);
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.footer p {
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (name and stats): 18px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */
